# /etc/systemd/system/coolercontrolappimage.service
[Unit]
Description=Launch and run the Coolercontrol AppImage in the background
After=network.target

[Service]
ExecStart=/home/$USER/Programs/CoolerControlD-x86_64.AppImage
Restart=always
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target

